// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

.main {
    width: 100%;
    height: 100%;
}

.transparent-block {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 127px 15px 140px;
    left: 0;
    top: 0;
    background: rgba(4, 10, 8, 0.63);
    border-radius: 40px;
    // opacity: .9;
    box-shadow: inset 0 1px 0 0 #044932;
    background: #071311;
    border: 1px solid rgba(4, 10, 8, 0.22);

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 107px 107px;
        width: 212px;
        height: 117px;
        background: #050c09;
        box-shadow: inset 0 -1px 0 0 #044932;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 166px;
        height: 166px;
        border-radius: 100%;
        background-color: #04ffaa;
        filter: blur(100px);
        z-index: 0;
    }

    &-wrapper {
        position: relative;
        z-index: 2;
    }
}

.popup-block {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(14px);
    background: rgba(7, 19, 17, 0.9);
    padding: 15px;
    display: none;

    &.active {
        display: flex;
    }

    &-wrapper {
        box-shadow: inset 0 1px 0 0 #044932;
        background: #020404;
        border-radius: 40px;
        padding: 0 20px 30px;
        width: 100%;
        max-width: 400px;
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 20px;
    }

    &.claim-popup {
        &.active {
            display: block;
        }

        .popup-block-wrapper {
            position: relative;
            margin: 0 auto;
            top: 89px;
            padding-top: 89px;
            text-align: center;

            &:before {
                content: "";
                position: absolute;
                top: -2px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 0 0 107px 107px;
                width: 150px;
                height: 80px;
                background: #050c09;
                box-shadow: inset 0 -1px 0 0 #044932;
            }
        }

        .popup-block-logo {
            position: absolute;
            top: -80px;
            left: 50%;
            transform: translateX(-48%);
        }
    }

    h3 {
        font-size: 15px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    &-text {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #8c8b9e;
        margin-bottom: 20px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
        max-height: 490px;
        overflow-y: auto;

        &-item {
            border-radius: 20px;
            min-height: 110px;
            background: #073123;
            border: 2px solid #01fea9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.disabled {
                border-width: 0;
                box-shadow: inset 0 4px 34px 0 #072017;
                background: #042419;
                pointer-events: none;

                .popup-block-list-item-text {
                    opacity: 0.5;
                }

                .popup-block-list-item-icon {
                    opacity: 0.5;
                }
            }

            &.checked {
                border-width: 1px;
                border-radius: 20px 5px 20px 20px;
                background: #0aa36f;
                position: relative;

                .popup-block-list-item-icon {
                    background-color: #097d56;
                }
            }

            &-check {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 20px;
                height: 20px;
                font-size: 0;

                .svg-icon {
                    width: 20px;
                    height: 20px;
                }
            }

            &-text {
                font-weight: 500;
                font-size: 12px;
                text-align: center;
                color: #fff;
                margin-bottom: 5px;
            }

            &-icon {
                background-color: #080f0e;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;

                .coin {
                    width: 30px;
                    height: 30px;
                }

                .svg-icon {
                    width: 17px;
                    height: 20px;
                }
            }

            &-value {
                display: flex;
                align-items: center;
                gap: 5px;

                .coin {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .button {
        border: 1px solid rgba(255, 255, 255, 0.1);
        // border: none;
        background: none;
        border-radius: 20px;
        padding: 10px;
        width: 90px;
        height: 44px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 13px;
        color: rgba(0, 166, 194, 0.87);
    }
}

@import 'plug';

@import 'app';
