.plug-wrapper {
    padding-top: 156px;
    min-height: 100vh;

    .logo {
        position: absolute;
        bottom: calc(100% - 120px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100%;
        z-index: 1;
        width: 174px;
        height: 174px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 325px;
            height: 325px;
            z-index: 3;
        }
    }
}

.transparent-block {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 157px 15px 40px;
    left: 0;
    top: 0;
    background: rgba(4, 10, 8, 0.63);
    border-radius: 40px;
    // opacity: .9;
    box-shadow: inset 0 1px 0 0 #044932;
    background: #071311;
    border: 1px solid rgba(4, 10, 8, 0.22);

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 107px 107px;
        width: 214px;
        height: 117px;
        background: #050c09;
        box-shadow: inset 0 -1px 0 0 #044932;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 166px;
        height: 166px;
        border-radius: 100%;
        background-color: #04ffaa;
        filter: blur(100px);
        z-index: 0;
    }

    &-wrapper {
        position: relative;
        z-index: 2;
    }
}

.welcome-block {
    position: relative;
    z-index: 2;
    // padding: 0 55px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .upper-title {
        font-size: 14px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    .bottom-title {
        font-size: 40px;
        letter-spacing: 0.01em;
        color: #01fea9;
        text-shadow: 0 4px 26px #01fea9;
    }
}

.syotimer {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    &-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 109px;
        text-align: center;
        color: #fff;
        border-radius: 15px;
        box-shadow: inset 0 4px 34px 0 #072017;
        background: #073123;

        @media screen and (max-width: 375px) {
            height: 90px;
        }

        &__value {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            color: #fff;

            @media screen and (max-width: 375px) {
                font-size: 30px;
            }
        }

        &__unit {
            font-size: 12px;
            text-align: center;
            color: #8c8b9e;
            text-transform: capitalize;

            @media screen and (max-width: 375px) {
                font-size: 10px;
            }
        }
    }
}

.socials-block {
    position: relative;
    z-index: 2;
    max-width: 310px;
    margin: 0 auto 28px;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        color: #1bd295;
        margin-bottom: 20px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background: #0C513A;
            z-index: -1;
        }

        span {
            display: inline-block;
            padding: 0 10px;
            background: #07110e;
        }
    }

    .socials-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-link {
            cursor: pointer;
            fill: #fff;
            opacity: .9;
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            .svg-icon {
                width: 34px;
                height: 24px;
            }
        }
    }
}

.action-block {
    position: relative;
    z-index: 2;

    .btn {
        margin-bottom: 20px;
    }

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        color: #8c8b9e;
        margin-bottom: 20px;
    }

    &-subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-align: center;
        color: #fff;
    }

    &-second-action {
        display: none;
    }

    &.active {
        .action-block-first-action {
            display: none;
        }

        .action-block-second-action {
            display: block;
        }
    }
}

.popup-block {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(14px);
    background: rgba(7, 19, 17, 0.9);
    padding: 15px;
    display: none;

    &.active {
        display: flex;
    }

    &-wrapper {
        box-shadow: inset 0 1px 0 0 #044932;
        background: #020404;
        border-radius: 40px;
        padding: 0 20px 30px;
        width: 100%;
        max-width: 400px;
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 20px;
    }

    h3 {
        font-size: 15px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    &-text {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #8c8b9e;
        margin-bottom: 20px;
    }
}

.animation {
    &-circle-size {
        animation: circle-size 2s ease-in-out infinite;
        transform-origin: center;
    }

    &-big-coin {
        animation: big-coin 4s ease infinite;
        transform-origin: center;
    }

    &-middle-coin {
        animation: middle-coin 8s ease infinite;
        transform-origin: center;
    }

    &-small-coin {
        animation: small-coin 8s ease infinite;
        transform-origin: center;
    }

    &-star {
        animation: star 4s ease-in-out infinite;
        transform-origin: center;
    }

    &-stars {
        animation: stars 8s ease-in-out infinite;
        transform-origin: center;
    }

    &-green-semicircle {
        animation: green-semicircle 6s ease-in-out infinite;
        transform-origin: center;
    }

    &-brown-semicircle {
        animation: brown-semicircle 2s ease-in-out infinite;
        transform-origin: center;
    }
}

@keyframes circle-size {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes big-coin {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-15deg) scale(1.1);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(15deg) scale(1.1);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes middle-coin {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-15px) scale(1.1);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(15px) scale(1.1);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes small-coin {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(16px, 15px) scale(1.4);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(5px, -10px) scale(1.2);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes star {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes stars {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes green-semicircle {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes brown-semicircle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}