// settings main
$body_color:#fff;
$body_bg:#040a08;
$placeholder_color:#999;
$selection_bg:#040a08;
$selection_color:#fff;
$site_font_size:12px;
$site_line_height:1.2;
$default_font: "Poppins", sans-serif;
$link_color:#040a08;
$link_hover_color:#040a08;